@font-face {
	font-family: 'Xfile';
	src: url('x-files.ttf');
}

#app {
  background-image: url('twin.jpg');
  background-size: cover;
  height: 100vh;
}


img {
width: 550px;
 height: 550px;
}

h1 {
	font-family: 'Xfile';
	color: white;
	font-size: 62px;
}

td, th {
	color: white;
}

.watchListTableBtn {
	color: white;
}

.container {
	    padding-top: 50px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
img {
width: 100vw;
 height: 350px;
}
.VueCarousel {
	    text-align: center;
    margin-left: -19px;
    width: 100vw;
}

.container {
	padding-top: 5px;
}


h1 {
	    text-align: center;
	    color: white;
	    font-size: 40px;
}

#app {
    height: 100%;
}

.watchListTableBtn {
	color: white;
}

.btn-sm {
	    min-width: 64px;
}

}